<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="shadow-z-1 fondo-blanco margin-top-20">
			<!-- Caja que contiene la informacion de la propuesta -->
			<div class="propuesta-box" ng-repeat="propuesta in propuestas">
			  <div class="row">
			  <!-- imagen del curso -->
			  	<div class="col-md-2">
			  		<img src="{{propuesta.imagen}}" alt="" class="img-responsive">
			  	</div>
			  	<!-- contenido -->
			  	<div class="col-md-10">
			  	<!-- titulo -->
			  		<h3></h3>
			  	<!-- descripcion -->
			  	<p>{{propuesta.cant_materias}}</p>
			  	<p ng-repeat="plan in propuesta.plan_de_estudio">{{plan.anio}} - {{plan.docente}}</p>
			  	<!-- planes de pago -->
			  	<a href="" class="btn btn-info">Contado: $1500</a>
			  	<a href="" class="btn btn-success">12 coutos de $152</a>
			  	<a href="" class="btn btn-primary">10 cutas de $200</a>
			  	<a href="" class="btn btn-warning">Más detalles</a>
			  	</div>
			  </div>
			</div>	

			</div>
		</div>
	</div>
</div>